html.dark body {
    background: none;
    margin: 0;
}

html.dark body .subscriptions-clientInfo-popover {
    background-color: #880E4F !important;
}

html.dark body .subscriptions-clientInfo-popover .el-popper__arrow::before {
    background-color: #880E4F   !important;
}

html.dark body .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
html.dark body  .custom-scrollbar::-webkit-scrollbar-track {
    background: #2b2b2b;
}

html.dark body  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}
  
html.dark body .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
}